{% extends 'base.html' %}
{% block meta %}
        <meta property="og:image" content="{{ og_image }}">
{% endblock %}


{% block body %}

    <div class="container">
        <h2 class="">Сьгодні святкують день народження</h2>
        {% if structurals %}
            <div class="card mt-2">
                <div class="card-body">
                    <h5 class="card-title">Студенти</h5>
                    {% for structural in structurals %}
                        <div class="mt-2">
                            <div class="card-subtitle text-muted">{{ structural.name }}</div>
                            {% for student in structural.students %}
                                <li class="list-group-item">
                                <div class="row mt-2">
                                    <div class="col-2">
                                        {% if student.photo %}
                                            <img class="photo" src="{{ student.photo.url }}" alt="">
                                        {% else %}
                                            <img class="photo" src="{{ no_student_photo }}" alt="">
                                        {% endif %}
                                    </div>
                                    <div class="col-10">
                                        <div>{{ student.full_name }}</div>
                                        <div>{{ student.speciality }}</div>
                                    </div>
                                </div>
                                </li>
                            {% endfor %}
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endif %}

        {% if employees %}
            <div class="card mt-2">
                <div class="card-body">
                    <h5 class="card-title">Співробітники</h5>
                    <ul class="list-group">
                        {% for employee in employees %}
                            <li class="list-group-item">
                                <div class="row  mt-2">
                                    <div class="col-2">
                                        {% if employee.photo %}
                                            <img class="photo" src="{{ employee.photo.url }}" alt="">
                                        {% else %}
                                            <img class="photo" src="{{ no_employee_photo }}" alt="">
                                        {% endif %}
                                    </div>
                                    <div class="col-10">
                                        <div>{{ employee.full_name }}</div>
                                        <div>{{ employee.department }}</div>
                                    </div>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        {% endif %}

        {% if administrations %}
            <div class="card mt-2">
                <div class="card-body">
                    <h5 class="card-title">Адміністрація</h5>
                    {% for admin in administrations %}
                        <li class="list-group-item">
                        <div class="row  mt-2">
                            <div class="col-2">
                                {% if admin.photo %}
                                    <img class="photo" src="{{ admin.photo.url }}" alt="">
                                {% else %}
                                    <img class="photo" src="{{ no_administration_photo }}" alt="">
                                {% endif %}
                            </div>
                            <div class="col-10">
                                <div>{{ admin.full_name }}</div>
                                <div>{{ admin.get_type_display }}</div>
                            </div>
                        </div>
                        </li>
                    {% endfor %}
                </div>
            </div>
        {% endif %}

    </div>
{% endblock %}